<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>add-friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="createUser()">
        <ion-item>
          <ion-label>Firstname</ion-label>
          <ion-input type="text" [(ngModel)]="userData.firstname" name="firstname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label>Info</ion-label>
          <ion-textarea [(ngModel)]="userData.info" name="info"></ion-textarea>
        </ion-item>
        <ion-button type="submit" block ng-click="resetForm()">Add Friend</ion-button>
      </form>

</ion-content>